
* {
    margin: 0;
    padding: 0;
    font-size: 105%;
    line-height: 100%;
    color: rgb(42, 0, 81);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1%;

}
button{
    background-color:  rgb(231, 93, 231);
    border: 2.5px solid rgb(221, 152, 215);
    border-radius: 5px;

}
nav {
    background-color: rgb(168, 72, 147);
    background-image: linear-gradient(to bottom right, rgba(255, 0, 255, 0.400), rgba(255, 255, 0, 0.400));
    padding: 20px;
    text-align: center;
    align-content: center;
    display: flex;
    align-items:center;


}
main {

    background-image: linear-gradient(to bottom right, rgb(255, 0, 255), yellow);
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;


}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;

    color: rgb(255, 255, 255);
}
.aa{
    margin-top: 10%;
    margin-bottom: 10%;
    text-decoration: none;


}
img:not(.logo) {
    /* Estilos para las imágenes que no tienen la clase "logo" */
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    background-color: #818181;
    border-radius: 100px;
    margin-bottom: 10px;
  }
.logo{
    width: 10%;
    background-color: rgba(248, 222, 255, 0.541);
    border-radius:  100%;
}

#navigation {
    color: rgb(255, 255, 255)
}
.mano {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 150%;
    align-items: center ;
    margin-left: 5em;
}
.titulo{
    color: rgb(0, 255, 255);
    font-size: 100 rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0.5%;

}
.linea {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
.elemento {
    text-align: center;
    height: fit-content;
    margin: 80px;
    padding: 15px; 
    background-color: #fff; 
    border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.boton{
    margin-top: 5%;
    background-color:  rgba(233, 166, 233, 0.514);
    border: 2.5px solid rgb(221, 152, 215);
    border-radius: 5px;
}